<app-navbar></app-navbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Your Profile Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Username: {{ user.Username }}</h2>
    <p>Birthday: {{ user.Birthday }}</p>
    <p>Email: {{ user.Email }}</p>
  </mat-card-content>
  <div>
    <button class='profile-btn' mat-raised-button (click)="openEditUserProfile()">
      Edit Profile
    </button>
    <button class='profile-btn' mat-raised-button (click)="deleteProfile()">
      Delete Profile
    </button>
  </div>
</mat-card>