.profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width:60%;
  height:40vh;
}

.mat-card-title {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 2rem;
}

.mat-card-content{
  margin-top: 2rem;
}

.profile-btn {
  margin-top: 20px;
  margin-right: 10px;
}

h3 {
  text-align: center;
}

// CSS for navigation 
.companyName{
  font-size: 150%;
}

.mat-toolbar{
height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.nav-btn{
  font-size: 75%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}