.movie-image {
  width: 300px;
}

.mat-card {
  min-width:300px;
  max-width: 300px;
  margin: 10px;
}

.movie-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin-left:25px;
  // margin-right: 25px;
}

.favorite-button {
  float: right;
  cursor: pointer;
}

.favorite-button-active {
  float: right;
  color: red;
  cursor: pointer;
}