<div class="genre-container">
  <div class="genre-header">
    <h2 class="title">{{ data.Name }}</h2>
  </div>
  <div>
    <mat-dialog-content class="genre-content">
      {{ data.Bio }}
    </mat-dialog-content>
  </div>
  <div>
    <mat-dialog-content class="genre-content">
      Birth Year: {{ data.Birth }}
    </mat-dialog-content>
    <mat-dialog-content class="genre-content">
      Death Year: {{ data.Death }}
    </mat-dialog-content>
  </div>
  <div class="close-btn"><button mat-stroked-button aria-label="Close the director details button" mat-dialog-close
      color="primary">
      Close
    </button></div>
</div>