<app-navbar></app-navbar>

<!-- Favorites list shows the same fully functional list as the movies list, but only displays the users favorites -->

<div class="favorites-container">
  <h1>Your Favorite Movies</h1>
</div>
<div class="movie-container">
  <mat-card *ngFor="let movies of favorites;" style="flex: 1 1 auto;">
    <img class="movie-image" src={{movies.ImagePath}} alt={{movies.Title}} />
    <mat-card-header>
      <mat-card-title>{{ movies.Title }}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movies.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button class='button-link' mat-button color='primary'
        (click)='openGenre(movies.Genre.Name, movies.Genre.Description)'>
        Genre
      </button>
      <button class='button-link' mat-button color='primary'
        (click)='openDirector(movies.Director.Name, movies.Director.Bio, movies.Director.Birth, movies.Director.Death)'>
        Director
      </button>
      <button class='button-link' mat-button color='primary'
        (click)='openSynopsis(movies.Title, movies.ImagePath, movies.Description)'>
        Synopsis
      </button>
      <mat-icon *ngIf="!setFavStatus(movies._id)" (click)="postFavoriteMovies(movies._id, movies.Title)"
        class="favorite-button">favorite_border</mat-icon>
      <mat-icon *ngIf="setFavStatus(movies._id)" (click)="deleteFavoriteMovies(movies._id, movies.Title)"
        class="favorite-button-active">favorite</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>